.custom-song {
  mask: url('/public/icons/music_gray.svg?mode=dark') center center no-repeat;
  -webkit-mask: url('/public/icons/music_gray.svg?mode=dark') center center no-repeat;
  /* for webkit browsers */
}

.custom-download {
  mask: url('/public/icons/arrow-down-line_gray.svg?mode=dark') center center no-repeat;
  -webkit-mask: url('/public/icons/arrow-down-line_gray.svg?mode=dark') center center no-repeat;
  /* for webkit browsers */
}

.custom-vibe {
  mask: url('/public/icons/fireworks_gray.svg?mode=dark') center center no-repeat;
  -webkit-mask: url('/public/icons/fireworks_gray.svg?mode=dark') center center no-repeat;
  /* for webkit browsers */
}